<div class="wrapper">
<h3 class="sponsore-section-title">Sponsored</h3>
 <!--////////////    sopnser       ////////////////////-->
  <div class="sponsore">
    <div class="sponsore-img">
      <img src="./assets/images/sopnsore.jpeg" alt="">
    </div>
    <div class="sponsore-info">
      <h1 class="sponsore-info__title">abdo Resturant</h1>
      <p class="sponsore-info__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      <div class="sponsore-info__img">
        <img src="./assets/images/food.jpeg" alt="">
      </div>
    </div>
  </div>
  <div class="sponsore">
    <div class="sponsore-img">
      <img src="./assets/images/sopnsore.jpeg" alt="">
    </div>
    <div class="sponsore-info">
      <h1 class="sponsore-info__title">abdo Resturant</h1>
      <p class="sponsore-info__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      <div class="sponsore-info__img">
        <img src="./assets/images/food.jpeg" alt="">
      </div>
    </div>
  </div>
 <!--////////////   end sopnser       ////////////////////-->

 <div class="seperate-line"></div>

 <!--////////////    pages       ////////////////////-->
 <h3 class="pages-title">Your pages</h3>

 <div class="facebook-pages">
  <div class="facebook-pages__page">
    <img src="./assets/images/contact-img1.png" alt="" class="facebook-pages__contact--img">
    <div class="facebook-pages__page--text"> Photoshop</div>
  </div>
  <div class="facebook-pages__page">
    <img src="./assets/images/contact-img2.jpeg" alt="" class="facebook-pages__page--img">
    <div class="facebook-pages__page--text">Illustrater</div>
  </div>
  <div class="facebook-pages__page">
    <img src="./assets/images/contact-img1.png" alt="" class="facebook-pages__page--img">
    <div class="facebook-pages__page--text">Design app</div>
  </div>
 </div>
 <!--////////////    end pages       ////////////////////-->
 <div class="seperate-line"></div>

 <!--////////////    contacts       ////////////////////-->
 <h3 class="contacts-title">Your contacts</h3>

 <div class="facebook-contacts">
  <div class="facebook-contacts__contact">
    <img src="https://picsum.photos/id/25/50/50" alt="" class="facebook-contacts__contact--img">
    <div class="facebook-contacts__contact--text"> Photoshop</div>
  </div>
  <div class="facebook-contacts__contact">
    <img src="https://picsum.photos/id/26/50/50" alt="" class="facebook-contacts__contact--img">
    <div class="facebook-contacts__contact--text">Illustrater</div>
  </div>
  <div class="facebook-contacts__contact">
    <img src="https://picsum.photos/id/27/50/50" alt="" class="facebook-contacts__contact--img">
    <div class="facebook-contacts__contact--text">Design app</div>
  </div>
  <div class="facebook-contacts__contact">
    <img src="https://picsum.photos/id/28/50/50" alt="" class="facebook-contacts__contact--img">
    <div class="facebook-contacts__contact--text"> Photoshop</div>
  </div>
  <div class="facebook-contacts__contact">
    <img src="https://picsum.photos/id/29/50/50" alt="" class="facebook-contacts__contact--img">
    <div class="facebook-contacts__contact--text">Illustrater</div>
  </div>
  <div class="facebook-contacts__contact">
    <img src="https://picsum.photos/id/30/50/50" alt="" class="facebook-contacts__contact--img">
    <div class="facebook-contacts__contact--text">Design app</div>
  </div>
  <div class="facebook-contacts__contact">
    <img src="https://picsum.photos/id/31/50/50" alt="" class="facebook-contacts__contact--img">
    <div class="facebook-contacts__contact--text"> Photoshop</div>
  </div>
  <div class="facebook-contacts__contact">
    <img src="https://picsum.photos/id/32/50/50" alt="" class="facebook-contacts__contact--img">
    <div class="facebook-contacts__contact--text">Illustrater</div>
  </div>
  <div class="facebook-contacts__contact">
    <img src="https://picsum.photos/id/33/50/50" alt="" class="facebook-contacts__contact--img">
    <div class="facebook-contacts__contact--text">Design app</div>
  </div>
 </div>
 <!--////////////    end contacts       ////////////////////-->


  
</div>