<div class="wrapper">
  <div class="facebook-shortcuts">
    <div class="facebook-shortcuts__shortcut">
      <i class="bi bi-person-fill"></i>
      <span>Friends</span>
    </div>
    <div class="facebook-shortcuts__shortcut">
      <i class="bi bi-people"></i>
      <span>Groups</span>
    </div>
    <div class="facebook-shortcuts__shortcut">
      <i class="bi bi-play-fill"></i>
      <span>Watch</span>
    </div>
    <div class="facebook-shortcuts__shortcut">
      <i class="bi bi-bank"></i>
      <span>Marketplace</span>
    </div>
    <div class="facebook-shortcuts__shortcut">
      <i class="bi bi-memory"></i>
      <span>Memories</span>
    </div>
  </div>
  
  <h3 class="shortcuts-title">Your Shortcuts</h3>

  <div class="facebook-favorites">
    <div class="facebook-favorites__favorite">
      <div class="favorite-image">
        <img src="./assets/images/OIP.jpeg" alt="">
      </div>
      <span class="favorite-text">المصمم الإول</span>
    </div>
    <div class="facebook-favorites__favorite">
      <div class="favorite-image">
        <img src="./assets/images/OIP.jpeg" alt="">
      </div>
      <span class="favorite-text">المطور الإول </span>
    </div>
    <div class="facebook-favorites__favorite">
      <div class="favorite-image">
        <img src="./assets/images/OIP.jpeg" alt="">
      </div>
      <span class="favorite-text">بلال خبية</span>
    </div>
  </div>
</div>



