<div class="wrapper">
  <div class="stories">
    <div class="story story-1">
      <img src="./assets/images/personal-profile.jpg" alt="">
      <div class="story__username">belal kh </div>
    </div>
    <div class="story story-2">
      <img src="./assets/images/personal-profile.jpg" alt="">
      <div class="story__username">mohammad g</div>
    </div>
    <div class="story story-3">
      <img src="./assets/images/personal-profile.jpg" alt="">
      <div class="story__username">christiano</div>
    </div>
    <div class="story story-4">
      <img src="./assets/images/personal-profile.jpg" alt="">
      <div class="story__username">kareem benzemaa</div>
    </div>
    <div class="story story-5">
      <img src="./assets/images/personal-profile.jpg" alt="">
      <div class="story__username">omar alsomaa</div>
    </div>
  
  </div>

  <div class="creat-post">
    <div class="input-box__text">      
        <img src="./assets/images/personal-profile.jpg" alt="">    
        <label for="search-input">
          <input type="search" id="search-input" placeholder="what's on your mind, belal ?">
        </label>
    </div>

    <div class="creat-post__buttons">
      <div class="creat-post__buttons--button">
        <i class="bi bi-camera"></i>
        <span>Photo/Video</span>
      </div>
      <div class="creat-post__buttons--button">
        <i class="bi bi-bookmark-fill"></i>
        <span>Tag Friends</span>
      </div>
      <div class="creat-post__buttons--button">
        <i class="bi bi-activity"></i>
        <span>Feelings/Activity</span>
      </div>
      
      
    </div>
  </div>
  <div class="create-room">
    <div class="create-room__button">
      <i class="bi bi-camera-reels-fill"></i>
      <span>Create room</span>
    </div>
    <div class="create-room__contacts">
      <img src="https://picsum.photos/id/30/110/200" alt="">
      <img src="https://picsum.photos/id/31/110/200" alt="">
      <img src="https://picsum.photos/id/32/110/200" alt="">
      <img src="https://picsum.photos/id/34/110/200" alt="">
      <img src="https://picsum.photos/id/36/110/200" alt="">
      <img src="https://picsum.photos/id/37/110/200" alt="">
      <img src="https://picsum.photos/id/38/110/200" alt="">
      <img src="https://picsum.photos/id/49/110/200" alt="">



    </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__img">
        <img src="./assets/images/personal-profile.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">belal khubieh</div>
        <div class="news-feed__header__post-meta__info">
          <span class="privacy"><i class="bi bi-globe-americas"></i></span>
          <div class="date">3d ago</div>
        </div>
      </div>
      <div class="news-feed__header__options">...</div>
    </header>
    <section class="news-feed__feed">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa eligendi accusamus quaerat at fugit pariatur veniam quos explicabo incidunt. Voluptates</p>
      <img src="https://picsum.photos/id/11/523/300" alt="">

    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="news-feed__footer--comments">
        19 comment
      </div>
    </footer>
    <div class="news-feed__comment">     
        <div class="input-box__text">      
            <img src="./assets/images/personal-profile.jpg" alt="">    
            <label for="search-input">
              <input type="search" id="search-input" placeholder="add your comment">
            </label>
        </div>
    
  </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__img">
        <img src="./assets/images/personal-profile.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">belal khubieh</div>
        <div class="news-feed__header__post-meta__info">
          <span class="privacy"><i class="bi bi-globe-americas"></i></span>
          <div class="date">3d ago</div>
        </div>
      </div>
      <div class="news-feed__header__options">...</div>
    </header>
    <section class="news-feed__feed">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa eligendi accusamus quaerat at fugit pariatur veniam quos explicabo incidunt. Voluptates</p>
      <img src="https://picsum.photos/id/12/523/300" alt="">

    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="news-feed__footer--comments">
        19 comment
      </div>
    </footer>
    <div class="news-feed__comment">     
        <div class="input-box__text">      
            <img src="./assets/images/personal-profile.jpg" alt="">    
            <label for="search-input">
              <input type="search" id="search-input" placeholder="add your comment">
            </label>
        </div>
    
  </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__img">
        <img src="./assets/images/personal-profile.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">belal khubieh</div>
        <div class="news-feed__header__post-meta__info">
          <span class="privacy"><i class="bi bi-globe-americas"></i></span>
          <div class="date">3d ago</div>
        </div>
      </div>
      <div class="news-feed__header__options">...</div>
    </header>
    <section class="news-feed__feed">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa eligendi accusamus quaerat at fugit pariatur veniam quos explicabo incidunt. Voluptates</p>
      <img src="https://picsum.photos/id/13/523/300" alt="">

    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="news-feed__footer--comments">
        19 comment
      </div>
    </footer>
    <div class="news-feed__comment">     
        <div class="input-box__text">      
            <img src="./assets/images/personal-profile.jpg" alt="">    
            <label for="search-input">
              <input type="search" id="search-input" placeholder="add your comment">
            </label>
        </div>
    
  </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__img">
        <img src="./assets/images/personal-profile.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">belal khubieh</div>
        <div class="news-feed__header__post-meta__info">
          <span class="privacy"><i class="bi bi-globe-americas"></i></span>
          <div class="date">3d ago</div>
        </div>
      </div>
      <div class="news-feed__header__options">...</div>
    </header>
    <section class="news-feed__feed">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa eligendi accusamus quaerat at fugit pariatur veniam quos explicabo incidunt. Voluptates</p>
      <img src="https://picsum.photos/id/15/523/300" alt="">

    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="news-feed__footer--comments">
        19 comment
      </div>
    </footer>
    <div class="news-feed__comment">     
        <div class="input-box__text">      
            <img src="./assets/images/personal-profile.jpg" alt="">    
            <label for="search-input">
              <input type="search" id="search-input" placeholder="add your comment">
            </label>
        </div>
    
  </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__img">
        <img src="./assets/images/personal-profile.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">belal khubieh</div>
        <div class="news-feed__header__post-meta__info">
          <span class="privacy"><i class="bi bi-globe-americas"></i></span>
          <div class="date">3d ago</div>
        </div>
      </div>
      <div class="news-feed__header__options">...</div>
    </header>
    <section class="news-feed__feed">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa eligendi accusamus quaerat at fugit pariatur veniam quos explicabo incidunt. Voluptates</p>
      <img src="https://picsum.photos/id/16/523/300" alt="">

    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="news-feed__footer--comments">
        19 comment
      </div>
    </footer>
    <div class="news-feed__comment">     
        <div class="input-box__text">      
            <img src="./assets/images/personal-profile.jpg" alt="">    
            <label for="search-input">
              <input type="search" id="search-input" placeholder="add your comment">
            </label>
        </div>
    
  </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__img">
        <img src="./assets/images/personal-profile.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">belal khubieh</div>
        <div class="news-feed__header__post-meta__info">
          <span class="privacy"><i class="bi bi-globe-americas"></i></span>
          <div class="date">3d ago</div>
        </div>
      </div>
      <div class="news-feed__header__options">...</div>
    </header>
    <section class="news-feed__feed">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa eligendi accusamus quaerat at fugit pariatur veniam quos explicabo incidunt. Voluptates</p>
      <img src="https://picsum.photos/id/17/523/300" alt="">

    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="news-feed__footer--comments">
        19 comment
      </div>
    </footer>
    <div class="news-feed__comment">     
        <div class="input-box__text">      
            <img src="./assets/images/personal-profile.jpg" alt="">    
            <label for="search-input">
              <input type="search" id="search-input" placeholder="add your comment">
            </label>
        </div>
    
  </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__img">
        <img src="./assets/images/personal-profile.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">belal khubieh</div>
        <div class="news-feed__header__post-meta__info">
          <span class="privacy"><i class="bi bi-globe-americas"></i></span>
          <div class="date">3d ago</div>
        </div>
      </div>
      <div class="news-feed__header__options">...</div>
    </header>
    <section class="news-feed__feed">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa eligendi accusamus quaerat at fugit pariatur veniam quos explicabo incidunt. Voluptates</p>
      <img src="https://picsum.photos/id/18/523/300" alt="">

    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="news-feed__footer--comments">
        19 comment
      </div>
    </footer>
    <div class="news-feed__comment">     
        <div class="input-box__text">      
            <img src="./assets/images/personal-profile.jpg" alt="">    
            <label for="search-input">
              <input type="search" id="search-input" placeholder="add your comment">
            </label>
        </div>
    
  </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__img">
        <img src="./assets/images/personal-profile.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">belal khubieh</div>
        <div class="news-feed__header__post-meta__info">
          <span class="privacy"><i class="bi bi-globe-americas"></i></span>
          <div class="date">3d ago</div>
        </div>
      </div>
      <div class="news-feed__header__options">...</div>
    </header>
    <section class="news-feed__feed">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa eligendi accusamus quaerat at fugit pariatur veniam quos explicabo incidunt. Voluptates</p>
      <img src="https://picsum.photos/id/20/523/300" alt="">

    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="news-feed__footer--comments">
        19 comment
      </div>
    </footer>
    <div class="news-feed__comment">     
        <div class="input-box__text">      
            <img src="./assets/images/personal-profile.jpg" alt="">    
            <label for="search-input">
              <input type="search" id="search-input" placeholder="add your comment">
            </label>
        </div>
    
  </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__img">
        <img src="./assets/images/personal-profile.jpg" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">belal khubieh</div>
        <div class="news-feed__header__post-meta__info">
          <span class="privacy"><i class="bi bi-globe-americas"></i></span>
          <div class="date">3d ago</div>
        </div>
      </div>
      <div class="news-feed__header__options">...</div>
    </header>
    <section class="news-feed__feed">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa eligendi accusamus quaerat at fugit pariatur veniam quos explicabo incidunt. Voluptates</p>
      <img src="https://picsum.photos/id/21/523/300" alt="">

    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <i class="bi bi-emoji-smile-fill"></i>
      </div>
      <div class="news-feed__footer--comments">
        19 comment
      </div>
    </footer>
    <div class="news-feed__comment">     
        <div class="input-box__text">      
            <img src="./assets/images/personal-profile.jpg" alt="">    
            <label for="search-input">
              <input type="search" id="search-input" placeholder="add your comment">
            </label>
        </div>
    
  </div>
  </div>